<!-- ======= Header ======= -->
<header id="header">
<div class="container d-flex">

  <div class="logo mr-auto">
    <!-- <h1 class="text-light"><a href="/">R|O|S|I</a></h1>-->
    <!-- Uncomment below if you prefer to use an image logo -->
    <!---a href="#"><img src="staticos/assets/img/logo.png" alt="" class="img-fluid"></a-->
  </div>

  <nav class="nav-menu d-none d-lg-block">
    <ul>
      <li class="active"><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Services', services_path %></li>
    </ul>
  </nav><!-- .nav-menu -->

</div>
</header>
<!-- End Header -->