<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Our <strong>Clients</strong> and <strong>Partners</strong></h2>
      <p>Usually, clients that have come through us have tried previous alternatives. 
      For somehow they felt confident about the way we provide then confidence in terms 
      of showing scenarios, facts, and possibilities.</p>
    </div>

    <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <a href="https://www.pagaso.co.ao" target="_blank">
          <img src="staticos/assets/img/clients/PagaSo-Logo400x124.png" class="img-fluid" alt="Pagasó Angola"></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
        <a href="https://recarga.pagaso.co.ao" target="_blank">
          <img src="staticos/assets/img/clients/Pagaso-Icone400x395.png" class="img-fluid" alt="Pagasó Facilita Bué"></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="staticos/assets/img/clients/Prepag-Logo400x399.jpg" class="img-fluid" alt="Rede Prepag">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="staticos/assets/img/clients/TIVTecnologia-Logo.png" class="img-fluid" alt="TIV Tecnologia Angola">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="staticos/assets/img/clients/JM2X400x259.png" class="img-fluid" alt="JM2X Angola">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
        <img src="staticos/assets/img/clients/LonasPaulista-Logo.png" class="img-fluid" alt="Lonas Paulista">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <a href="https://www.torneseumprogramador.com.br" target="_blank">
          <img src="staticos/assets/img/clients/Tornese.png" class="img-fluid" alt="Torneseumprogramador"></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="staticos/assets/img/clients/LogoMMDigital400x228.png" class="img-fluid" alt="Marrom Madeira Digital">
        </div>
      </div>

    </div>

  </div>
</section><!-- End Our Clients Section -->
