<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Our <strong>Clients</strong></h2>
      <p>Usually, clients that have come through us have tried previous alternatives. 
      For somehow they felt confident about the way we provide then confidence in terms 
      of showing scenarios, facts, and possibilities.</p>
    </div>

    <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <a href="https://www.pagaso.co.ao" target="_blank">
          <img src="staticos/assets/img/clients/PagaSo-Logo400x124.png" class="img-fluid" alt="Pagasó Angola">
          <br>Pagasó<br>Angola</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
        <a href="https://recarga.pagaso.co.ao" target="_blank">
          <img src="staticos/assets/img/clients/Pagaso-Icone400x395.png" class="img-fluid" alt="Pagasó Facilita Bué">
          <br>Pagasó APP<br>Angola</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <a href="#">
          <img src="staticos/assets/img/clients/TIVTecnologia-Logo.png" class="img-fluid" alt="TIV Tecnologia Angola">
          <br>TIV Tecnologia<br>Angola</a>
          </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <a href="#">
          <img src="staticos/assets/img/clients/JM2X400x259.png" class="img-fluid" alt="JM2X Angola">
          <br>JM2X<br>Angola</a>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Our Clients Section -->

<!-- ======= Our Partners Section ======= -->
<section id="clients" class="clients">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Our <strong>Partners</strong></h2>
      <p>Partnerships are essential for our business success. We treat your 
      partners as they would a big customer. They deserve from our side 
      the same handling, the same care, or the same attention that customers do.</p>
    </div>

    <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

      <div class="col-lg-6 col-md-8 col-xs-6">
        <div class="client-logo">
          <a href="https://www.torneseumprogramador.com.br" target="_blank">
          <img src="staticos/assets/img/clients/Torne-se.jpeg" class="img-fluid" alt="Torneseumprogramador">
          <br>Torne-se Um Programador<br>Brazil</a>
        </div>
      </div>

      <div class="col-lg-6 col-md-8 col-xs-6">
        <div class="client-logo">
          <a href="#">
          <img src="staticos/assets/img/clients/LogoMMDigital400x228.png" class="img-fluid" alt="Marrom Madeira Digital">
          <br>Marrom Madeira Digital<br>Brazil</a>
          </div>
      </div>

    </div>

  </div>
</section><!-- End Our Partners Section -->
