<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <i class="icofont-computer"></i>IT Solutions</a>
      <i class="icofont-hour-glass"></i><%= t('layouts.index.since_title') %> 1997
    </div>
    <div class="logo mr-auto">
      <!-- <h1 class="text-light"><a href="/">R|O|S|I</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- a href="/"><img src="staticos/assets/img/RosiInTechLOGOHorizontal500x114Business.png" alt="" class="img-fluid"></a-->
    </div>

    <div class="mr-center">
      <i class="icofont-brand-whatsapp"></i><a href="https://api.whatsapp.com/send?phone=5511970813649&text=Oi%20ROSI%20{in}tech%20vamos%20conversar?" 
      target="_blank"> +55 11 97081-3649</a>
    </div>

    <div class="social-links">
      <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      <a href="#" class="linkedin"><i class="icofont-youtube"></i></i></a>
    </div>
  </div>
</section>
<%= render 'layouts/alerts' %>
